@use '../mixins'

:host
  width: 100%
  height: 100%
  display: flex
  justify-content: center
  align-items: center
  align-content: center

span,input
  width: 100%
  height: 100%
  border: none
  text-align: center

  &:active
    box-shadow: mixins.$selected-shadow
    outline: none
  
  &:focus
    box-shadow: mixins.$selected-shadow
    outline: none

input
  font-size: clamp(1.5rem, 5.5vw, 3rem)
  color: #555
  caret-color: transparent
  font-family: Nanum Pen Script

span
  font-size: clamp(1.5rem, 5vw, 2.5rem)
  display: inline-flex
  align-items: center
  justify-content: center

// remove input arrows
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button 
  -webkit-appearance: none
  margin: 0
// remove inout arrows firefox
input[type=number] 
  -moz-appearance: textfield