:host
  width: 100%
  height: 100%
  display: flex
  justify-content: center
  align-items: center

span,input
  width: 100%
  border: none
  font-size: 5vw
  text-align: center

input
  height: 100%
  color: #888
  caret-color: transparent

  &:active
    background-color: #eee
    border: none
  
  &:focus
    background-color: #eee
    outline: none
    


// remove input arrows
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button 
  -webkit-appearance: none
  margin: 0
// remove inout arrows firefox
input[type=number] 
  -moz-appearance: textfield