@use '../mixins'

:host
  padding: 2rem
  display: flex
  flex-direction: column
  justify-content: flex-start
  align-items: center
  gap: 2rem

  
.board-wrapper
  max-width: 600px
  
.row 
  display: flex

  .cell-wrapper
    width: min(9vw, 70px)
    height: min(9vw, 70px)
    border: mixins.$light-border
    display: flex
    justify-content: center
    align-items: center

    &:first-child
      border-left: mixins.$strong-border
    
    &:nth-child(-3n + 6) 
      border-right: mixins.$strong-border   

    &:nth-child(3n + 4) 
      border-left: none

    &:last-child
      border-right: mixins.$strong-border

    > *
      flex: 1
      
  // wider border for squares
  &:first-child
    border-top: mixins.$strong-border
    .cell-wrapper
      border-top: none
    
  &:nth-child(-3n + 6) 
    border-bottom: mixins.$strong-border
    .cell-wrapper
      border-bottom: none
  
  &:nth-child(-3n + 7) 
    .cell-wrapper
      border-top: none
    
  &:last-child 
    border-bottom: mixins.$strong-border
    .cell-wrapper
      border-bottom: none

button
  font-family: mixins.$primary-font
  padding: 1.25rem 2rem
  font-size: clamp(1rem, 5vw, 1.5rem)
  border: none
  box-shadow: inset 0 0 0 0.175rem #000
  border-radius: 0.25rem
  cursor: pointer