<main 
  *ngIf="sudoku"
  (keydown)="handleNavigation($event)"
  class="board-wrapper" 
  >
  
  <div 
    *ngFor="let row of sudoku; index as i;"
    class="row">
    <span *ngFor="let cell of sudoku[i], index as j" class="cell-wrapper">
      <app-sudoku-cell
        #cell 
        [number]="sudoku[i][j]"
        [row]="i"
        [column]="j"
        (sendIndices)="updateFocusedCell($event)"
      ></app-sudoku-cell>
    </span>
  </div>

</main>

<section class="clue-adjuster">
  <button
    (click)="moreClues()"
    type="button"
    class="more"
    [disabled]="maxCluesReached || sudokuIsSolved"
  >
    More clues
  </button>

  <button
    (click)="lessClues()"
    type="button"
    class="less"
    [disabled]="minCluesReached || sudokuIsSolved"
  >
    Less clues
  </button>
</section>

<button
  (click)="handleNewSudokuRequest()"
  type="button"
  class="reset"
  >
  Give me another one
</button>

<app-animated-background-meme></app-animated-background-meme>