<main 
  *ngIf="sudoku"
  (keydown)="handleNavigation($event)"
  class="board-wrapper" 
  >
  
  <div 
    *ngFor="let row of sudoku; index as i;"
    class="row">
    <span *ngFor="let cell of sudoku[i], index as j" class="cell-wrapper">
      <app-sudoku-cell
        #cell 
        [number]="sudoku[i][j]"
        [row]="i"
        [column]="j"
        (sendIndices)="updateFocusedCell($event)"
      ></app-sudoku-cell>
    </span>
  </div>

</main>

<button
  *ngIf="sudokuIsSolved"
  (click)="generateNewSudoku()"
>
Give me a new one
</button>